/* colores:
    borde: "#0075FF"
    error: "#bb2929"
    exito: "#1ed12d"
 */

.error-icono {
    color: #bb2929;
}
.error {
    margin: -10px auto auto 0px;
    color: #bb2929;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
}
.oculto {
    display: none;
}
.visible {
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
}
h2{
    color: #043db0;
    width: 500px;
    font-size: 30px;
}
.precaucion {
    color: #043db0;
    font-size: 18px;
    margin-left: 22px;
    font-family: 'Roboto Condensed', sans-serif;
}
label {
    margin-top: 10px;
    font-size: 25px;
}
.formulario {
    display: flex;
    flex-direction: column;
    color: #043db0;
    width: 500px;
    margin: auto;
    margin-bottom: 50px;
}
input {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 500px;
    height: 25px;
    border-radius: 7px;
}
.precio {
    font-family: 'Roboto Condensed', sans-serif;
}
.boton-compra{
    font-size: 27px;
    font-family: 'Yellowtail', cursive;
    font-weight: lighter;
    border-radius: 20px;
    color: #043db0;
    margin-top: 10px;
    margin-bottom: 25px;
    background-color: #fff;
    border: solid;
    border-color: #043db0;
    border-width: 2px;
    font-family: 'Roboto Condensed', sans-serif;

}
.boton-compra:hover {
    background-color: #043db0;
    color: #fff;
}
.cantidad-de-productos {
    margin-top: 5px;
    font-family: 'Roboto Condensed', sans-serif;
}
select {
    width: 35px;
    height: 25px;
    font-size: 20px;
}
.formularioCompra {
    width: 450px;
    height: 950px;
    margin-top: 10px;
}
@media (max-width: 575px) {
    input {
        width: 300px;
    }
    .cantidad-de-productos select {
        width: 40px;
        height: 30px;
        font-size: 20px;
    }
    .precaucion {
        margin-left: 0px;
    }
    .formularioCompra {
        width: 320px;
    }
    .formulario {
        width: 315px;
        margin: auto;
    }
    h2 {
        width: 315px;
        margin: auto;
        margin-top: 30px;
    }
}