/*
    Colores de la pagina
    #FFAECB Rosa
    #043db0 Azul
*/

.header{
    display: flex;
    flex-direction: row;
    height: 190px;
    justify-content: space-between;
    width: 100%;
    max-width: 1536px;
}
.logo {
    display: block;
    width: 240px;
    margin: 20px;
    margin-top: -15px;
}

@media (max-width: 768px) {
    .header {
        max-width: 585px;
    }
    .logo {
        width: 200px;
        margin-top: 20px;
        margin-left: -10px;
    }
}
@media (max-width: 575px) {
    .header {
        height: 235px;
        max-width: 400px;
        flex-direction: column;
    }
    .logo {
        margin: auto;
    }
}