.App {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-family: 'TT Milks Script', 'ExtraBold';
}
a{
  text-decoration: unset;
  color: unset;
}
