.info-producto {
    display: flex;
    width: 70%;
    height: 55%;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    border: solid;
    border-radius: 15px;
    border-color: black;
}