.insta img {
    width: 135px;
    height: 135px;
}
.youtube {
    margin-left: 190px;
}
.youtube img {
    width: 200px;
    height: 136px;
}
.redes{
    display: flex;
    flex-direction: column;
}
.titulo {
    color: #043db0;
    margin-bottom: 70px;
    font-size: 30px;
}